.BlogItemLoader {
  display: flex;
  height: 204px; }
  @media screen and (max-width: 767px) {
    .BlogItemLoader {
      height: 100px; } }
  .BlogItemLoader .BlogItemLoader__Image {
    background: #c3c2c2;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 250px;
    height: 100%;
    margin-right: 40px; }

@keyframes loading {
  0% {
    opacity: 0.9; }
  25% {
    opacity: 0.7; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.7; }
  100% {
    opacity: 0.9; } }
    @media screen and (max-width: 767px) {
      .BlogItemLoader .BlogItemLoader__Image {
        width: 100px;
        margin-right: 20px; } }
  .BlogItemLoader .BlogItemLoader__Body {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1; }
  .BlogItemLoader .BlogItemLoader__Body__Title {
    background: #c3c2c2;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    height: 40px; }

@keyframes loading {
  0% {
    opacity: 0.9; }
  25% {
    opacity: 0.7; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.7; }
  100% {
    opacity: 0.9; } }
  .BlogItemLoader .BlogItemLoader__Body__Content {
    background: #c3c2c2;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-top: 20px;
    height: 70px; }

@keyframes loading {
  0% {
    opacity: 0.9; }
  25% {
    opacity: 0.7; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.7; }
  100% {
    opacity: 0.9; } }
  .BlogItemLoader .BlogItemLoader__Body__Content__Link {
    margin-top: auto;
    text-transform: uppercase; }
    .BlogItemLoader .BlogItemLoader__Body__Content__Link .BlogItemLoader__Body__Content__Link__a {
      background: #c3c2c2;
      animation-name: loading;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      width: 100px;
      height: 15px;
      margin: 15px 0 5px; }

@keyframes loading {
  0% {
    opacity: 0.9; }
  25% {
    opacity: 0.7; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.7; }
  100% {
    opacity: 0.9; } }
