.Tile {
  width: 32.5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }
  .Tile .Tile-Image {
    max-height: 240px;
    overflow: hidden; }
    .Tile .Tile-Image img {
      width: 100%;
      display: block; }
  .Tile .Tile-Details {
    padding: 20px 15px 15px 15px; }
    .Tile .Tile-Details .divider {
      margin: 0 70px 20px;
      border: none;
      border-bottom: 1px #e5e5e5 solid; }
  .Tile .ProjectInfo .ProjectInfo-Title {
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Barlow Semi Condensed', sans-serif; }
  .Tile .ProjectInfo .ProjectInfo-Description {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    line-height: 18px; }
  .Tile .AuthorInfo {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-top: 20px; }
    .Tile .AuthorInfo a {
      color: rgba(0, 0, 0, 0.84);
      display: block;
      font-family: 'Barlow Semi Condensed', sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 1; }
      .Tile .AuthorInfo a:hover {
        text-decoration: underline; }
    .Tile .AuthorInfo .AuthorInfo-Avatar {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 2px #4caf4f solid;
      margin-right: 20px; }
    .Tile .AuthorInfo .AuthorInfo-submissionDate {
      color: rgba(0, 0, 0, 0.54);
      padding-top: 5px;
      display: block; }
  .Tile .Tile-CTA {
    background: #f8f8f8;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 10px;
    justify-content: flex-end;
    display: flex; }
    .Tile .Tile-CTA button {
      appearance: none;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: normal;
      color: #aaa; }
      .Tile .Tile-CTA button:hover {
        color: #777; }
      .Tile .Tile-CTA button:focus {
        outline: none; }
