@import url("https://fonts.googleapis.com/css?family=Courgette");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,600,700");
html {
  box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-size: 16px;
  word-wrap: break-word;
  height: inherit; }

.noSroll {
  overflow: hidden; }

p, h1, h2, h3 {
  margin: 0; }

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

main {
  padding-top: 40px; }

.Button {
  color: #fff;
  font-size: 18px;
  border: 1px #fff solid;
  border-radius: 2px;
  padding: 10px;
  transition: all .3s ease; }
  .Button:hover {
    background: #4caf4f;
    border-color: #4caf4f; }
