.HeaderContainer {
  background-color: #1c1d21;
  height: 60px; }
  .HeaderContainer.HeaderContainer__Sticky {
    position: fixed;
    width: 100%; }
  .HeaderContainer .Header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .HeaderContainer .Logo {
    color: #fff;
    display: flex;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    font-family: Courgette, sans-serif; }
    .HeaderContainer .Logo img {
      width: 70px;
      height: 60px; }

.Navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  margin-left: auto;
  display: flex;
  align-items: center; }
  .Navigation ul .Navigation-Link {
    color: #fff;
    text-decoration: none;
    padding: 20px 10px;
    font-family: Courgette, sans-serif;
    font-size: 18px;
    line-height: 1; }
    .Navigation ul .Navigation-Link:hover {
      color: #4caf4f; }
